/*
* @Author: Shusheng Shi
* @Date:   2017-08-30 20:04:05
* @Last Modified by:   Shusheng Shi
* @Last Modified time: 2017-08-31 20:14:35
*/
body{
    background: #ccc;
    color: red;
    font-size: 50px;
}